<div class="form-step hidden" data-step="1">
    <div class="mx-auto mt-3 bg-white shadow-lg rounded-xl p-6">
      <!-- HEADER -->
      <h2 class="text-lg font-semibold text-blue-600 border-b pb-2">
        Residence History
      </h2>

      <!-- GRID -->
      <div class="grid md:grid-cols-3 gap-4 mt-4">
        <div>
          <label class="text-sm text-gray-600">Address<span class="text-red-600">*</span></label>
          <input
            type="text"
            placeholder="Address"
            class="w-full mt-1 p-2 border rounded focus:ring-2 focus:ring-blue-400"
          />
        </div>

        <div>
          <label class="text-sm text-gray-600">City <span class="text-red-600">*</span></label>
          <input
            type="text"
            placeholder="City"
            class="w-full mt-1 p-2 border rounded focus:ring-2 focus:ring-blue-400"
          />
        </div>

        <div>
          <label class="text-sm text-gray-600">State <span class="text-red-600">*</span></label>
          <input
            type="text"
            placeholder="State"
            class="w-full mt-1 p-2 border rounded focus:ring-2 focus:ring-blue-400"
          />
        </div>

        <div>
          <label class="text-sm text-gray-600"> Country <span class="text-red-600">*</span></label>
          <input
            type="text"
            placeholder="Country "
            class="w-full mt-1 p-2 border rounded"
          />
        </div>

        <div>
          <label class="text-sm text-gray-600">Zip Code <span class="text-red-600">*</span> </label>
          <input
            type="text"
            placeholder="Zip Code"
            class="w-full mt-1 p-2 border rounded"
          />
        </div>
      </div>

      <!-- MEDICAL SECTION -->
      <h2 class="text-lg font-semibold mt-8 border-b pb-2">
        Emergency Contact
      </h2>

      <div class="grid md:grid-cols-3 gap-4 mt-4">
        <div>
          <label class="text-sm text-gray-600">Full Name <span class="text-red-600">*</span></label>
          <input class="w-full mt-1 p-2 border rounded" />
        </div>

        <div>
          <label class="text-sm text-gray-600">Relationship <span class="text-red-600">*</span></label>
          <input type="date" class="w-full mt-1 p-2 border rounded" />
        </div>

        <div>
          <label class="text-sm text-gray-600">Phone Number <span class="text-red-600">*</span></label>
          <input type="date" class="w-full mt-1 p-2 border rounded" />
        </div>
      </div>

      <!-- BUTTON -->
      <div class="flex justify-between items-center mt-8">
       <button
              type="button"
              class="flex items-center px-4 sm:px-6 py-2 sm:py-2.5 rounded-lg text-gray-600 font-medium hover:bg-gray-100 hover:text-gray-900 transition-colors disabled:opacity-50 text-sm"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left w-4 h-4 mr-1 sm:mr-2"
                aria-hidden="true"
              >
                <path d="m15 18-6-6 6-6"></path>
              </svg>
              Back</button
            >
        <button class="next-btn bg-blue-600 text-white px-6 py-2 rounded-lg">
          Next Step →
        </button>
      </div>
    </div>
  </div>
  