<%- include('../common/header'); -%>
<%- include('../common/sidebar'); -%>

<style>
  .new_lable {
    color: black;
    font-size: 13px;
    font-weight: 500;
  }

  .image-section {
    text-align: center;
  }

  .form-section {
    padding: 20px;
  }

  .img-thumbnail {
    background-color: #ffffff;
    border: none;
    max-width: 80%;
    margin-left: 15px;
    height: auto;
    width: 75vh;
  }
</style>

<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body border-bottom">
              <h4 class="card-title">Change Password</h4>
              <hr>
              <div class="row">
                <!-- Image Section -->
                <div class="col-md-6 image-section">
                  <img src="/app-assets/images/pages/reset-password-v2.svg" alt="Image" class="img-thumbnail">
                </div>
                <!-- Form Section -->
                <div class="col-md-6 form-section mt-2">
                  <form class="validate-form" novalidate="novalidate" id="updatepassword" action="/updatepassword" method="POST">
                    <div class="row justify-content-center">
                      <div class="col-12 ">
                        <div class="mb-1">
                          <label class="form-label new_lable" for="oldpassword">Old Password</label>
                          <div class="input-group error_group form-password-toggle input-group-merge">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
                            <div class="input-group-text cursor-pointer">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label new_lable" for="newpassword">New Password</label>
                          <div class="input-group error_group form-password-toggle input-group-merge">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" required>
                            <div class="input-group-text cursor-pointer">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label new_lable" for="confirmpassword">Confirm Password</label>
                          <div class="input-group error_group form-password-toggle input-group-merge">
                            <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
                            <div class="input-group-text cursor-pointer">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-1 row justify-content-end">
                        <div class="col-sm-4 text-center">
                          <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Update</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Content -->


<%- include('../common/footer'); -%>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function() {
    jQuery.validator.addMethod("noSpace", function(value, element) {
      return value == '' || value.trim().length != 0;
    }, "No space please and don't leave it empty");

    $('#updatepassword').validate({
      rules: {
        oldPassword: {
          required: true,
          noSpace: true,
    
        },
        newPassword: {
          required: true,
          noSpace: true,
          minlength: 6,
          maxlength: 60
        },
        confirmpassword: {
          required: true,
          noSpace: true,
          minlength: 6,
          maxlength: 60,
          equalTo: "#newPassword"
        }
      },
      errorElement: "div",
      errorClass: "jqval-error",
      errorPlacement: function(error, element) {
        error.insertAfter(element);
        error.slideDown(400);
        error.animate({
          opacity: 1
        }, {
          queue: false,
          duration: 700
        });
      },
      submitHandler: function(form) {
        var error = $(".assign_error_div").text();
        if (!error) {
          form.submit();
        }
      }
    });
  });
</script>


<script>
  $(window).on('load', function() {
    if (feather) {
      feather.replace({
        width: 14,
        height: 14
      });
    }
  })
</script>

<script>
  setTimeout(function() {
    $("div.msg").fadeOut();
  }, 1000);
</script>